html, body, h1, h2, ul, li, a, figure {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}
 
nav {
    background-color: #1c1c1c;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    text-align: right;
}
 
nav ul li {
    display: inline-block;
}
 
nav ul li a {
    font-size: 18px;
    color: #cccccc;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
}
 
nav ul li a:hover {
    background-color: #e67e22;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    text-decoration: underline;
}